<!--

    更改使用者密碼頁面

    created date : 2021/10/15
    created by : jay

-->

{% extends 'basic.html' %} 

{% block title %} Reset Password {% endblock %} 

{% block page_content %} 
    <div class="page-header">
        <h1>重新設定密碼</h1>
    </div>
    <div class="page">
        <form class="row g-3" action="{{ url_for('auth.change_password') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">舊密碼</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="old_password" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">新密碼</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="new_password1" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">確認密碼</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="new_password2" required>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">送出</button>
            </div>
        </form>
    </div>
{% endblock %}