<!--

    使用者登入頁面

    created date : 2021/10/07
    created by : jay

-->

{% extends 'basic.html' %} 

{% block title %} Login {% endblock %} 

{% block page_content %} 
    <div class="page-header">
        <h1> 登入 </h1>
    </div>
    <div class="page">
        <form class="row g-3" action="{{ url_for('auth.login') }}" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
            </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">密碼</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password1" required>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">送出</button>
            </div>
        </form>
    </div>
{% endblock %}