<!-- 貼文串模板 -->

<ul class="posts">
    {% for post in posts %} 
      <li class="post">
        <div class="profile-thumbnail">
          <a href="{{ url_for('main.user', username = post.author.username) }}">
            <img class="img-rounded profile-thumbnail rounded-circle" src="{{ post.author.gravatar(size=40) }}">
          </a>
        </div>
        <div class="post-content">
          <div class="post-date">{{ moment(post.timestamp).fromNow() }} {{ moment(post.timestamp).format('YYYY-MM-DD') }}</div>
          <div class="post-author">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
              {{ post.author.username }}
              {% if post.is_private %} 
                <span class="badge rounded-pill bg-info text-dark">Private</span>
              {% endif %}
            </a>
          </div>
          <div class="post-body">{{ post.body }}</div>
          <div class="post-footer">
            <div class="gap-3 d-flex justify-content-md-end">
              {% if current_user == post.author %}

                <a href="{{ url_for('main.edit', id = post.id) }}">
                  <span class="badge rounded-pill bg-secondary">Edit</span>
                </a>

              {% endif %}
              
              
              <a href="{{ url_for('main.post', id = post.id) }}">
                <span class="badge rounded-pill bg-warning text-dark">{{ post.comments.count() }} 個留言</span>

              </a>
             
            </div>
            
          </div>
        </div>
      </li>
    {% endfor %}
</ul>