<ul class="users">
    {% for user in users %} 
      <li class="user">
        <div class="profile-thumbnail">
          <a href="{{ url_for('main.user', username = user.username) }}">
            <img class="img-rounded profile-thumbnail rounded-circle" src="{{ user.gravatar(size=40) }}">
          </a>
        </div>
        <div class="user-content">
            <div class="user-date">{{ moment(user.member_since).format('YYYY-MM-DD') }} 加入</div>  
            <div class="username">
                <a href="{{ url_for('main.user', username=user.username) }}">
                {{ user.username }}
                </a>
            </div>
            {% if user.location %}
            <div class="user-body">
                來自 <a href="http://maps.google.com/?q={{ user.location }}" target="_blank"> {{ user.location }}</a>
            </div>
            {% endif %}
            <div class="user-footer">
                {% if current_user.can(Permission.ADMIN) %} 
                <div class="gap-3 d-flex justify-content-md-end">
                    <a href="{{ url_for('main.edit_profile_admin', id = user.id) }}">
                        <span class="badge rounded-pill bg-warning text-dark">Edit [ADMIN]</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
      </li>
    {% endfor %}
</ul>