<!--

    管理員編輯使用者資訊頁面

    created date : 2021/10/21
    created by : jay

-->

{% extends 'basic.html' %} 

{% block title %} Edit Profile Admin {% endblock %} 

{% block page_content %} 
    <div class="page-header">
        <h1>編輯使用者資訊 (Admin)</h1>
    </div>

    <div class="page">
        <form class="row g-3" action="{{ url_for('main.edit_profile_admin', id = user.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="{{ form_email }}" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">使用者名稱</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ form_username }}" required>
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">目前權限: {{ user.role.name }}</label>
            
                <select class="form-select" aria-label="Default select example" name="role">
                    <option selected value="0">使用者權限</option>
                    {% for role in roles %} 
                    <option value="{{ role[0] }}">{{ role[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">真實名稱</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ form_name }}">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">居住地</label>
                <input type="text" class="form-control" id="location" name="location" value="{{ form_location }}">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">關於我</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = 'about_me'>{{ form_about_me }}</textarea>
              </div>
            <div class="col-12">
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    送出
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">修改會員資料</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        確定要修改嗎?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">確定</button>
                        </div>
                    </div>
                    </div>
                </div>
            
            </div>
        </form>
    </div>
{% endblock %}