<!-- 

    主頁面
    
    created date : 2021/10/05
    created by : jay

    last update date : 2021/10/26
    update by : jay

-->

{% extends 'basic.html' %} 
{% import 'main/_macros.html' as macros %} 

{% block head %} 
  {{ super() }}
  <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/post.css') }}" rel="stylesheet">
{% endblock %}

{% block title %} Daily Life index {% endblock %}

{% block page_content %} 
  <div class="page-header">
    {% if current_user.is_authenticated %} 
    <h1>Hello {{ current_user.username }}</h1>
    {% else %}
    <h1>Daily Life 分享你的日常點滴</h1> 
    {% endif %}
  </div>
  <div class="page">
    {% if current_user.is_authenticated %}
    <div class="form-content">
      <form class="row g-3" action="{{ url_for('main.index') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3 row">
            <label for="exampleFormControlTextarea1" class="form-label">在想什麼</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = 'post' required></textarea>
        </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="is_private">
            <label class="form-check-label" for="exampleCheck1" title="設為私人貼文代表只有本人能看到貼文">設為私人貼文</label>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary" type="submit">送出</button>
          </div>
      </form> 
    </div>
    {% endif %}

    {% if pagination %} 
        <div class="pagination-content">
          {{ macros.pagination_widget(pagination, '.index', is_top = True) }}
        </div>
    {% endif %}

    {% if current_user.is_authenticated %}
    <div class="post-tab">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if show_posts == 'all' %} active {% endif %}" aria-current="page" href="{{ url_for('main.show_all_posts') }}">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if show_posts == 'following' %} active {% endif %}" href="{{ url_for('main.following_posts') }}">Following</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if show_posts == 'private' %} active {% endif %}" href="{{ url_for('main.private_posts') }}">Private</a>
        </li>
      </ul>
    </div>
    {% endif %}

    <div class="posts-content">
      {% include 'main/_post.html' %}
    </div>

    {% if pagination %} 
        <div class="pagination-content">
          {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
  </div>
  
{% endblock %}