{% extends 'basic.html' %} 
{% import 'main/_macros.html' as macros %} 

{% block head %} 
  {{ super() }}
  <link href="{{ url_for('static', filename = 'css/post.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %} 
    <div class="page-header">
        <h2> 管理留言 </h2>
    </div>
    <div class="page">
        <div class="comment-content">
            {% include 'main/_comments.html' %} 
        </div>
        {% if pagination %} 
            <div class="pagination-content">
                {{ macros.pagination_widget(pagination, 'main.modrate') }}
            </div>
        {% endif %}  
    </div>
{% endblock %}
