<!--

    使用者個人資訊頁面
    
    created date : 2021/10/21
    created by : jay


-->

{% extends 'basic.html' %} 

{% block title %} User Info {% endblock %} 

{% block page_content %} 
    <div class="page-header">
        <h1> {{ user.username }} 的個人資料</h1>

        {% if user.name or user.location %} 
            <p>
                {% if user.name %} 
                    {{ user.name }}
                {% endif %}
                {% if user.location %} 
                    來自 <a href="http://maps.google.com/?q={{ user.location }}" target="_blank"> {{ user.location }}</a>
                {% endif %} 
            </p> 
        {% endif %}
        {% if current_user.is_administrator() %} 
                <p>
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                </p>
        {% endif %}
        {% if user.about_me %} 
            <p>
                {{ user.about_me }}
            </p>
        {% endif %}
        <p>
            從 {{ moment(user.member_since).format('LL') }} 加入 <br>
            上次登入是 {{ moment(user.last_seen).fromTime(now) }}
        </p>

        {% if current_user == user %}
            <a href="{{ url_for('main.edit_profile') }}">編輯個人資料</a>
        {% endif %}

        {% if current_user.is_administrator() %} 
            <a href="{{ url_for('main.edit_profile_admin', id = user.id ) }}">
                編輯使用者資訊 [Admin]
            </a>
        {% endif %}
    </div>
{% endblock %}