/*
    basic 樣式

*/

.container {
    width: 960px;
    margin: auto;
    
}

.page-header {
    margin: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.page {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}